body{
  background: aqua;
  margin: 0 auto;
  width: 640px;
}

h1{

  text-align: center;
}

.midcon{
  position: relative;
  display: block;
  width: 640px;
  height: 480px;
}

.overlay{
  position: absolute;
  top: 0;
  left: 0;
  width: 640px;
  height: 480px;
  background-color: rgba(0,0,0,0);
 
}

button {
  border: 0;
  background: cornflowerblue;
  text-shadow: 1px 1px 1px white;
  border: 5px solid cornflowerblue;
  border-radius: 2px;
  position: absolute;
  cursor: pointer;
  top: 2px;
  left: 2px;
  
}

.midpix img{
  display: block;
  width: 20%;
  float: left;
  cursor: pointer;
}